<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
    <title>WidgetBlocks</title>
    <link rel="stylesheet" href="/gridstack.min.css">
    <link rel="stylesheet" href="/gridstack-extra.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script defer src="/static/js/index.js"></script>
</head>

<body>
    <div class="add-modal">
        <div class="add-modal__content">
            <nav class="add-modal__menu">
                <div id="add-modal__link-cell" class="add-modal__menu__item active">
                    <div class="add-modal__menu__content">
                        <div class="add-modal__menu__item__icon">
                            <div></div>
                        </div>
                        <span>Link Cell</span>
                    </div>
                </div>
                <div id="add-modal__dynamic-cell" class="add-modal__menu__item">
                    <div class="add-modal__menu__content">
                        <div class="add-modal__menu__item__icon">
                            <div class="svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
                                    <path
                                        d="M24 9.5q-.65 0-1.075-.425Q22.5 8.65 22.5 8V3.5q0-.65.425-1.075Q23.35 2 24 2q.65 0 1.075.425.425.425.425 1.075V8q0 .65-.425 1.075Q24.65 9.5 24 9.5Zm10.25 4.25q-.45-.45-.45-1.05 0-.6.45-1.05l3.15-3.2Q37.85 8 38.475 8t1.075.45Q40 8.9 40 9.5q0 .6-.45 1.05l-3.2 3.2q-.45.45-1.05.45-.6 0-1.05-.45ZM40 25.5q-.65 0-1.075-.425Q38.5 24.65 38.5 24q0-.65.425-1.075Q39.35 22.5 40 22.5h4.5q.65 0 1.075.425Q46 23.35 46 24q0 .65-.425 1.075-.425.425-1.075.425ZM24 46q-.65 0-1.075-.425-.425-.425-.425-1.075V40q0-.65.425-1.075Q23.35 38.5 24 38.5q.65 0 1.075.425.425.425.425 1.075v4.5q0 .65-.425 1.075Q24.65 46 24 46ZM11.65 13.75l-3.2-3.15Q8 10.15 8 9.525t.45-1.075Q8.9 8 9.5 8q.6 0 1.05.45l3.2 3.2q.45.45.45 1.05 0 .6-.45 1.05-.45.4-1.075.4t-1.025-.4Zm25.8 25.8-3.2-3.2q-.45-.45-.45-1.05 0-.6.45-1.05.4-.4 1.025-.4.625 0 1.075.4l3.25 3.15q.45.45.425 1.075Q40 39.1 39.6 39.55q-.45.45-1.075.45t-1.075-.45ZM3.5 25.5q-.65 0-1.075-.425Q2 24.65 2 24q0-.65.425-1.075Q2.85 22.5 3.5 22.5H8q.65 0 1.075.425Q9.5 23.35 9.5 24q0 .65-.425 1.075Q8.65 25.5 8 25.5Zm4.95 14.05Q8 39.1 8 38.5q0-.6.45-1.05l3.2-3.2q.4-.4 1.025-.4.625 0 1.075.4.45.45.45 1.075t-.45 1.075l-3.15 3.15q-.45.45-1.075.45t-1.075-.45ZM24 36q-5 0-8.5-3.5T12 24q0-5 3.5-8.5T24 12q5 0 8.5 3.5T36 24q0 5-3.5 8.5T24 36Zm0-3q3.75 0 6.375-2.625T33 24q0-3.75-2.625-6.375T24 15q-3.75 0-6.375 2.625T15 24q0 3.75 2.625 6.375T24 33Z" />
                                </svg>
                            </div>
                            <span class="number"></span>
                            <div class="small-straps">
                                <div class="small-strap"></div>
                                <div class="small-strap"></div>
                                <div class="small-strap"></div>
                                <div class="small-strap"></div>
                            </div>
                            <div class="strap first"></div>
                            <div class="strap second"></div>
                        </div>
                        <span>Dynamic Cell</span>
                    </div>
                </div>
            </nav>
            <div class="add-modal__tabs">
                <div id="add-modal__link-cell-tab" class="add-modal__tab active">
                    <div class="add-modal__column add-modal__column--scroll">
                        <h1>
                            Create Link Cell
                        </h1>
                        <h2>
                            Choose Icon
                        </h2>
                        <input id="add-modal__icon-inp" class="add-modal__input" type="text"
                            placeholder="Search for icon">
                        <div class="add-modal__loading">
                            <div class="loading loading--medium">
                                <div class="loading__item"></div>
                                <div class="loading__item"></div>
                                <div class="loading__item"></div>
                                <div class="loading__item"></div>
                            </div>
                        </div>
                        <h4 class="add-modal__icons-header add-modal__icons-header--brand">
                            Brands:
                            <a title="Icons provided by Simple Icons" href="https://simpleicons.org/" target="_blank">
                                <img src="/static/assets/main-icons/simpleicons.svg" alt="Simple Icons logo">
                            </a>
                        </h4>
                        <div class="add-modal__icons add-modal__icons--brand">
                        </div>
                        <h4 class="add-modal__icons-header add-modal__icons-header--normal">
                            Icons:
                            <a title="Icons provided by Font Awesome" href="https://fontawesome.com/search?m=free"
                                target="_blank">
                                <img src="/static/assets/main-icons/fontawesome.svg" alt="Font Awesome logo">
                            </a>
                        </h4>
                        <div class="add-modal__icons add-modal__icons--normal">
                        </div>
                        <div class="add-modal__no-icons">
                            No icons found
                        </div>
                        <h2>
                            Choose Color
                        </h2>
                        <div id="add-modal__color-picker"></div>
                        <div class="add-modal__suggested-color-wrapper">
                            <span>Copy from icon:</span>
                            <div style="background-color: #3e3e3e;" id="add-modal__suggested-color"></div>
                        </div>
                        <h2>Choose link</h2>
                        <input id="add-modal__link-inp" class="add-modal__input" type="text"
                            placeholder="Type your link here">
                        <span class="add-modal__link-validator">This doesn't look like a valid link to me</span>
                    </div>
                    <div class="add-modal__column">
                        <h1>Preview</h1>
                        <div class="add-modal__preview">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="preview">
                        </div>
                        <button class="add-modal__finish">Finish</button>
                    </div>
                </div>
                <div id="add-modal__dynamic-cell-tab" class="add-modal__tab">
                    <div class="add-modal__column add-modal__column--scroll">
                        <h1>
                            Create Dynamic Cell
                        </h1>
                        <h2>Built-in Cells</h2>
                        <div class="add-modal__icons">
                            <% dynamicCells.forEach(cell=> { %>
                                <div data-src="<%- cell.src %>" title="<%= cell.name %>"
                                    class="icon-wrapper icon-wrapper--no-padding">
                                    <img src="<%- cell.icon %>">
                                </div>
                                <% }) %>
                        </div>
                        <h2>Custom iframe src</h2>
                        <input id="add-modal__iframe-src-inp" class="add-modal__input" type="text"
                            placeholder="Type source here">
                    </div>
                    <div class="add-modal__column">
                        <h1>Preview</h1>
                        <div class="add-modal__preview add-modal__preview--no-padding">
                            <iframe src=""></iframe>
                        </div>
                        <button class="add-modal__finish">Finish</button>
                    </div>
                </div>
            </div>
            <button class="add-modal__close">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                    <path
                        d="M6.325 19.85 4.2 17.675 9.85 12 4.2 6.3l2.125-2.175L12 9.825l5.675-5.7L19.8 6.3 14.15 12l5.65 5.675-2.125 2.175L12 14.15Z" />
                </svg>
            </button>
        </div>
    </div>
    <div class="grid">
        <div class="grid__loading active">
            <div class="loading">
                <div class="loading__item"></div>
                <div class="loading__item"></div>
                <div class="loading__item"></div>
                <div class="loading__item"></div>
                <div class="loading__item"></div>
            </div>
        </div>
        <div class="grid__border"></div>
        <div class="grid-stack"></div>
        <div class="grid__menu">
            <button title="Profile" id="grid__menu__profile" class="grid__menu__item">
                <img src="/static/assets/main-icons/person.svg" alt="profile">
            </button>
            <button title="Settings" id="grid__menu__settings" class="grid__menu__item">
                <img src="/static/assets/main-icons/settings.svg" alt="settings">
            </button>
            <div class="grid__menu__edit-panel">
                <button title="Edit Cells" id="grid__menu__edit" class="grid__menu__item">
                    <div class="loading loading--small">
                        <div class="loading__item"></div>
                        <div class="loading__item"></div>
                        <div class="loading__item"></div>
                    </div>
                    <img class="edit-icon active" src="/static/assets/main-icons/edit.svg" alt="edit">
                    <img class="save-icon" src="/static/assets/main-icons/cloud-upload.svg" alt="save">
                </button>
                <button title="Revert changes" id="grid__menu__revert" class="blue grid__menu__item">
                    <img class="invert-1" src="/static/assets/main-icons/revert.svg" alt="add">
                </button>
                <button title="Add Cell" id="grid__menu__add" class="green grid__menu__item">
                    <img class="invert-1" src="/static/assets/main-icons/add.svg" alt="add">
                </button>
                <div title="Drag cells here to delete them" id="grid__menu__trash"
                    class="red grid__menu__item grid__menu__item--no-margin">
                    <img class="invert-1" src="/static/assets/main-icons/delete.svg" alt="delete">
                </div>
            </div>
        </div>
        <div class="profile">
            <div class="profile__content">
                <a class="profile__logout" href="/auth/logout">
                    <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9 42Q7.8 42 6.9 41.1Q6 40.2 6 39V9Q6 7.8 6.9 6.9Q7.8 6 9 6H23.55V9H9Q9 9 9 9Q9 9 9 9V39Q9 39 9 39Q9 39 9 39H23.55V42ZM33.3 32.75 31.15 30.6 36.25 25.5H18.75V22.5H36.15L31.05 17.4L33.2 15.25L42 24.05Z" />
                    </svg>
                </a>
                <img class="profile__picture" src="<%= user.picture %> " alt="profile picture">
                <span class="profile__name">
                    <%= user.name %>
                </span>
                <span class="profile__login-method">
                    Logged in using <b>
                        <%= strategy %>
                    </b>
                </span>
                <div class="profile__email">
                    Your email:
                    <br>
                    <b>
                        <%= user.email %>
                    </b>
                </div>
            </div>
        </div>
        <div class="settings">
            <div class="settings__content">
                <h1>Settings</h1>
                <div class="settings__row settings__bg-color">
                    Background color:
                    <div class="settings__color"></div>
                    <div class="settings__color-box">
                        <div class="settings__arrow"></div>
                        <div class="settings__color-picker">
                            <div id="settings__bg-color-picker"></div>
                        </div>
                    </div>
                </div>
                <div class="settings__row settings__cell-color">
                    Cell color:
                    <div class="settings__color"></div>
                    <div class="settings__color-box">
                        <div class="settings__arrow"></div>
                        <div class="settings__color-picker">
                            <div id="settings__cell-color-picker"></div>
                        </div>
                    </div>
                </div>
                <div class="settings__row">
                    <label for="settings__grid-w">Grid width:</label>
                    <input min="7" max="12" id="settings__grid-w" type="range">
                    <span id="settings__grid-w-value">10</span>
                </div>
                <div class="settings__row">
                    <label for="settings__grid-h">Grid height:</label>
                    <input min="3" max="7" id="settings__grid-h" type="range">
                    <span id="settings__grid-h-value">5</span>
                </div>
                <button class="settings__save">Save</button>
            </div>
        </div>
    </div>
    <div class="error">
        <svg class="error__icon" xmlns="http://www.w3.org/2000/svg" height="24" width="24">
            <path
                d="M12 17.4q.525 0 .887-.362.363-.363.363-.888t-.363-.888Q12.525 14.9 12 14.9t-.887.362q-.363.363-.363.888t.363.888q.362.362.887.362Zm-1.3-4.45h2.65V6.8H10.7ZM12 22.8q-2.25 0-4.213-.85-1.962-.85-3.424-2.312Q2.9 18.175 2.05 16.212 1.2 14.25 1.2 12t.85-4.225Q2.9 5.8 4.363 4.338q1.462-1.463 3.424-2.301Q9.75 1.2 12 1.2t4.225.837q1.975.838 3.438 2.301 1.462 1.462 2.299 3.437Q22.8 9.75 22.8 12q0 2.25-.838 4.212-.837 1.963-2.299 3.426Q18.2 21.1 16.225 21.95q-1.975.85-4.225.85Z" />
        </svg>
        <div class="error__msg">Error</div>
        <div class="error__close">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20">
                <path
                    d="m5.979 15.5-1.437-1.479 4-4.021-4-4.062 1.437-1.48 4.042 4.063 4-4.063 1.437 1.48-4 4.062 4 4.021-1.437 1.479-4-4.062Z" />
            </svg>
        </div>
    </div>
</body>

</html>
