<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/gridstack.min.css" />
    <link rel="stylesheet" href="/gridstack-extra.min.css" />
    <link rel="stylesheet" href="/static/css/main.css">
    <script defer src="/static/js/index.js"></script>
</head>

<body>
    <div class="add-modal">
        <div class="add-modal__content">
            <nav class="add-modal__menu">
                <div id="add-modal__link-cell" class="add-modal__menu__item active">
                    <div class="add-modal__menu__content">
                        <img src="https://dummyimage.com/300x300/000/fff" alt="Link Cell">
                        <span>Link Cell</span>
                    </div>
                </div>
                <div id="add-modal__dynamic-cell" class="add-modal__menu__item">
                    <div class="add-modal__menu__content">
                        <img src="https://dummyimage.com/300x300/000/fff" alt="Built-in Widget">
                        <span>Dynamic Cell</span>
                    </div>
                </div>
            </nav>
            <div class="add-modal__tabs">
                <div id="add-modal__link-cell-tab" class="add-modal__tab active">
                    <div class="add-modal__column add-modal__column--scroll">
                        <h1>
                            Create Link Cell
                        </h1>
                        <h2>
                            Choose Icon
                        </h2>
                        <input id="add-modal__icon-inp" type="text" placeholder="Search for icon">
                        <div class="add-modal__icons">
                        </div>
                        <h2>
                            Choose Color
                        </h2>
                        <div id="add-modal__color-picker"></div>
                        <div class="add-modal__suggested-color-wrapper">
                            <span>Copy from icon:</span>
                            <div style="background-color: #3e3e3e;" id="add-modal__suggested-color"></div>
                        </div>
                        <h2>Choose link</h2>
                        <input id="add-modal__link-inp" type="text" placeholder="Type your link here">
                        <span class="add-modal__link-validator">This doesn't look like a valid link to me</span>
                    </div>
                    <div class="add-modal__column">
                        <h1>Preview</h1>
                        <div class="add-modal__preview">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="preview">
                        </div>
                        <button class="add-modal__finish">Finish</button>
                    </div>
                </div>
                <div id="add-modal__dynamic-cell-tab" class="add-modal__tab">
                    <div class="add-modal__column add-modal__column--scroll">
                        <h1>
                            Create Dynamic Cell
                        </h1>
                        <h2>Built-in Cells</h2>
                        <div class="add-modal__icons">
                            <% dynamicCells.forEach(cell=> { %>
                                <div data-src="<%- cell.src %>" title="<%= cell.name %>"
                                    class="icon-wrapper icon-wrapper--no-padding">
                                    <img src="<%- cell.icon %>">
                                </div>
                                <% }) %>
                        </div>
                        <h2>Custom iframe src</h2>
                        <input id="add-modal__iframe-src-inp" type="text" placeholder="Type source here">
                    </div>
                    <div class="add-modal__column">
                        <h1>Preview</h1>
                        <div class="add-modal__preview add-modal__preview--no-padding">
                            <iframe src=""></iframe>
                        </div>
                        <button class="add-modal__finish">Finish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid__loading active">
            <div class="grid__loading__item"></div>
            <div class="grid__loading__item"></div>
            <div class="grid__loading__item"></div>
            <div class="grid__loading__item"></div>
            <div class="grid__loading__item"></div>
        </div>
        <div class="grid__border"></div>
        <div class="grid-stack"></div>
        <div class="grid__menu">
            <button title="Profile" id="grid__menu__profile" class="grid__menu__item">
                <img src="/static/assets/person.svg" alt="profile">
            </button>
            <button title="Settings" id="grid__menu__settings" class="grid__menu__item">
                <img src="/static/assets/settings.svg" alt="settings">
            </button>
            <div class="grid__menu__edit-panel">
                <button title="Edit Cells" id="grid__menu__edit" class="grid__menu__item">
                    <img class="edit-icon" src="/static/assets/edit.svg" alt="edit">
                    <img class="save-icon" src="/static/assets/cloud_upload.svg" alt="edit">
                </button>
                <button title="Add Cell" id="grid__menu__add" class="green grid__menu__item">
                    <img class="invert-1" src="/static/assets/add.svg" alt="add">
                </button>
                <div title="Drag cells here to delete them" id="grid__menu__trash"
                    class="red grid__menu__item grid__menu__item--no-margin">
                    <img class="invert-1" src="/static/assets/delete.svg" alt="delete">
                </div>
            </div>
        </div>
        <div class="profile">
            <div class="profile__content">
                <a class="profile__logout" href="/auth/logout">
                    <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9 42Q7.8 42 6.9 41.1Q6 40.2 6 39V9Q6 7.8 6.9 6.9Q7.8 6 9 6H23.55V9H9Q9 9 9 9Q9 9 9 9V39Q9 39 9 39Q9 39 9 39H23.55V42ZM33.3 32.75 31.15 30.6 36.25 25.5H18.75V22.5H36.15L31.05 17.4L33.2 15.25L42 24.05Z" />
                    </svg>
                </a>
                <img class="profile__picture" src="<%= user.picture %> " alt="profile picture">
                <span class="profile__name">
                    <%= user.name %>
                </span>
                <span class="profile__login-method">
                    Logged in using <b>
                        <%= strategy %>
                    </b>
                </span>
                <div class="profile__email">
                    Your email:
                    <br>
                    <b>
                        <%= user.email %>
                    </b>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
